@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --body:#900C3F;
    --nav: #C70039;
    --letras: #F94C10;
    --footer: #F8DE22;
}

/* nav */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mi_header {
    background-color: #C70039;
    padding: 1rem;
}

.mi_header a {
    margin-left: 5rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.mi_header a:hover {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: #C70039;
}

.nav_noticia {
    color: #C70039;
} 


.logo {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #000;
}

main {
    display: grid;
    grid-template-columns: 64% 34%;
    grid-gap: 20px;
    align-items: start;
}

/* Main */

/* Inicio */

section {
    display: grid;
    place-items: center;
    text-align: center;
}

section h2 {
    margin-bottom: 0;
    font-size: 3rem;
    color: #C70039;
}

section p {
    font-size: 2rem;
    font-weight: bold;
}

section img {
    width: 100%;
    margin-left: 10px;
    border-radius: 5px;
}

section a {
    grid-template-columns: 1fr auto;
    float: left;
    background-color: #F94C10;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    transition: .5s;
}

section a:hover {
    color: #F94C10;
    background-color: #fff;
    border: 1px solid #F94C10;
}

aside {
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #900C3F;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

aside h4 {
    font-size: 2rem;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

aside p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

aside img {
    width: 100%;
    border-radius: 10px;
}

aside a {
    font-size: 1.2em;
    font-weight: 600;
    background-color: #F94C10;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    transition: .5s;
}

aside a:hover {
    background-color: #fff;
    color: #900C3F;
}

/* Inicio */


/* Sobre Nosotros */

.contenido-sobre-nosotros {
    font-size: 24px;
}

.contenido-sobre-nosotros h3 {
    font-size: 2.5rem;
    color: #C70039;
    margin: 0;
}

/* Contacto */

.contenido-contacto {
    padding: 20px;
}

.contenido-contacto h2 {
    font-size: 3rem;
    margin-top: 20px;
}

.contenido-contacto p {
    font-size: 1.5rem;
    line-height: 1.5;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="contraseña"],
textarea {
    width: 90%;
    padding: 16px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border: 2px solid #C70039;
    font-size: 1rem;
}

textarea {
    resize: none;
}

.checkbox-campo {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 100px;
    padding-top: 0;
}

.botones {
    margin-top: 20px;
}

button {
    background-color: #F94C10;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    border: 1px solid #F94C10;
    color: #F94C10;
}

button[type="reset"] {
    background-color: #F94C10;
    margin-left: 10px;
}

button[type="reset"]:hover {
    background-color: #fff;
    margin-left: 10px;
}

/* iRacing */

.mi-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #333;
    color: white;
    background-color: #C70039;
}

.mi-header nav ul li {
    display: flex;
    padding-top: 10px;
}

.mi-tabla h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    font-size: 2rem;
    font-weight: 600;
}

.mi-tabla table {
    margin-left: 2rem;
}


.mi-tabla th {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    background-color: #F94C10;
    
}

.mi-tabla tr {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}


/* Noticias */

.articulo1 h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.articulo1 h3 {
    font-size: 30px;
}

.articulo1 li {
    list-style-type: none;
    padding-bottom: 10px;
    font-size: 20px;
}

.mi-articulo {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
}

.mi-articulo h2 {
    font-size: 24px;
}

.mi-articulo p {
    font-size: 16px;
    line-height: 1.5;
}

.media-container {
    display: flex;
    align-items: center;
}

.media-container img,
.media-container iframe {
    max-width: 48%;
    height: auto;
}

.media-container img {
    margin-right: 4%;
}

/* footer */

footer {
    background-color: #C70039;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociales {
    text-align: left;
    flex-grow: 1;
}

.redes-sociales p {
    margin: 0;
    padding: 0 0 0 45px;
    font-size: 20px;
}

.redes-sociales ul {
    list-style-type: none;
    padding: 0 0 0 75px;
}

.redes-sociales li {
    margin-right: 10px;
    display: inline;
}

.redes-sociales i {
    padding-left: 3px;
    font-size: 20px;
    justify-content: center;
}

.sobre-nosotros {
    flex-grow: 1;
}

.sobre-nosotros a:hover {
    color: #F8DE22;
    text-decoration: underline;
}

.contacto {
    text-align: right;
    flex-grow: 1;
    padding: 0 10px 0 0;
}

.contacto a:hover {
    color: #F8DE22;
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

.redes-sociales a:hover {
    color: #F8DE22;
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 768px) {

    main {
        grid-template-columns: 1fr;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    aside a {
        margin-top: 10px;
    }
}